<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.lenovo.safecabs" >

    <uses-permission android:name="android.permission.CAMERA" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/launcher"
        android:label="SafeCabs"
        android:theme="@style/AppTheme" >
        <meta-data
            android:name="com.google.android.gms.vision.DEPENDENCIES"
            android:value="barcode" />

        <activity
            android:name=".MainActivity"
            android:label="SafeCabs" >
        </activity>
        <activity
            android:name=".scan_activity"
            android:label="@string/title_activity_scan_activity" >
        </activity>
        <activity
            android:name=".HomeActivity"
            android:label="SafeCabs" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".Login"
            android:label="SafeCabs" >
        </activity>
        <activity
            android:name=".SignUp"
            android:label="SafeCabs" >
        </activity>
    </application>

</manifest>
